$MinBreakPoint: 800px;
$MaxBreakPoint: 1600px;


html {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;

    @media screen and (min-width: $MinBreakPoint) {
        display: grid;
        grid-template-columns: repeat(12 1fr);
    }
}

.top {
    background-color: #011827;
    color: white;

}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 144px;


}

.navLink {
    ul {
        display: none;
        list-style: none;

        @media screen and (min-width: $MinBreakPoint) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: -10px;
            font-size: 20px;
        }

        :hover {
            color: #8ACFE5;
            cursor: pointer;
        }
    }
}

.topTop {
    display: flex;
    gap: 10px;



}

h1 {
    width: 20%;
    font-size: 24px;

    @media screen and (min-width: $MinBreakPoint) {
        width: 100%;
        align-self: flex-end;
        font-size: 35px;
    }
}

.logo {
    width: 128px;
    height: auto;
    margin: 15px 10px 15px 15px;

}

.topPicture {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttons {
    @media screen and (min-width: $MinBreakPoint) {
        display: flex;
        flex-direction: row;
    }
}

.OC {
    border: none;
    background-color: white;
    color: #36769D;
    width: 100%;
    text-decoration: underline;
    font-weight: bold;
    padding: 15px;


    @media screen and (min-width: $MinBreakPoint) {
        order: 1;
        background-color: #E3170A;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        margin: 20px 10px;
        padding: 15px;
        text-decoration: none;
        margin-top: -25px;
        min-width: 250px;
    }
}

.OSC {
    background-color: #8ACFE5;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 15px;
    margin: 20px 10px;


    @media screen and (min-width: $MinBreakPoint) {
        order: 2;
        min-width: fit-content;
        font-size: 16px;
        margin-top: -25px;
        min-width: 250px;
    }
}

.quoteContainer {
    display: flex;
    flex-direction: row;
}

.quoteContainer1 {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 15px;
    width: 90%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;

    @media screen and (min-width: $MinBreakPoint) {
        display: flex;
        padding: 10px;
        margin: 15px;
        width: 45%;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: white;
    }
}

.quoteContainer2 {
    display: none;

    @media screen and (min-width: $MinBreakPoint) {
        display: flex;
        padding: 10px;
        margin: 15px;
        width: 55%;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: white;
    }
}

.face {
    width: 73.34px;
    margin-right: 10px;
}

.quoteText {
    font-size: 19px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
    flex: 1;
    margin-bottom: 0;

    @media screen and (min-width: $MinBreakPoint) {
        font-size: 14px;
    }
}

.quoteText p {
    margin-bottom: 0;
}

.quote small {
    display: block;
    font-size: 12px;
    color: gray;
    text-align: left;
}

.challengeCardHideMobile {
    display: none;

    @media screen and (min-width: $MinBreakPoint) {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        margin-top: 30px;
        width: 90%;
        max-width: 300px;
        border-radius: 1rem;
        background-color: white;
        box-sizing: border-box;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 10px 10px 0;
    }

    .cardPicture {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin: 0;
    }

    .starContainer {
        display: flex;
        align-items: center;
        margin: -5px 0 5px 10px;
    }

    .starText {
        font-size: 12px;
        margin-left: 90px;
    }

    p {
        margin: 0.5rem;
        font-size: 12px;
        line-height: 1.4;
    }

    .bookButton {
        padding: 0.5rem 1.5rem;
        background-color: #e3170a;
        color: white;
        border: none;
        border-radius: 0.3rem;
        font-size: 12px;
        width: auto;
        align-self: flex-end;
        margin: 0 10px 10px 0;
    }
}

.challengeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    h2 {
        font-weight: 500;
    }

}

.cardWrapper {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 90%;
    overflow-y: hidden;

    @media screen and (min-width: $MinBreakPoint) {
        overflow-y: visible;
    }

}

.challengeCard {
    flex: 0 0 auto;
    width: 100%;
    max-width: 350px;
    border-radius: 1rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 18px;
        font-weight: bold;
        margin: 15px 15px 0;
    }

    .cardPicture {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin: 0;
    }

    .starContainer {
        display: flex;
        align-items: center;
        margin: -10px 0 10px 15px;
    }

    .starContainer img {
        margin-right: 0.3rem;
    }

    .starText {
        font-size: 14px;
    }

    .challengeCard p {
        margin: 1rem;
        font-size: 14px;
        line-height: 1.5;
    }

    .bookButton {
        padding: 1rem 2rem;
        background-color: #E3170A;
        color: white;
        border: none;
        border-radius: 0.5rem;
        font-size: 16px;
        width: auto;
        align-self: flex-end;
        margin: 0 10px 10px 0;
    }

    @media screen and (min-width: $MinBreakPoint) {
        width: 90%;
        max-width: 300px;
        margin-top: 30px;
    }

    h2 {
        font-size: 16px;
        margin: 10px 10px 0;
    }

    .cardPicture {
        height: 150px;
    }

    .starContainer {
        margin: -5px 0 5px 10px;
    }

    .starText {
        font-size: 12px;
        margin-left: 90px;
    }

    p {
        margin: 0.5rem;
        font-size: 12px;
        line-height: 1.4;
    }

    .bookButton {
        padding: 0.75rem 1.5rem;
        border-radius: 0.3rem;
        font-size: 12px;
        margin: 0 10px 10px 0;
    }
}

.onlineChallenges {
    border: none;
    background-color: white;
    color: #36769D;
    width: 100%;
    text-decoration: underline;
    font-weight: bold;
    padding: 15px;


    @media screen and (min-width: $MinBreakPoint) {
        order: 1;
        background-color: #E3170A;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        margin: 20px 10px;
        padding: 15px;
        text-decoration: none;
        min-width: 250px;
    }
}

.challengeButton {
    background-color: #8ACFE5;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 15px;
    margin: 20px 10px;


    @media screen and (min-width: $MinBreakPoint) {
        order: 2;
        min-width: 250px;
        font-size: 16px;
    }
}

.fullStory {
    background-color: #011827;
    color: white;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
}

.fullStoryText {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.fullStoryButton {
    background-color: black;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    border-radius: 5%;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    align-self: center;
    display: flex;
}

.osToday {
    display: flex;
    flex-direction: column;
}

.osToday img {
    width: 100%;
}

.osTodayText {
    display: flex;
    align-self: center;
    margin: 20px 10px 20px 10px;
}

.osTodayTextSmall {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0 10px 40px 10px;
}

.osTodayButton {
    padding: 1rem 2rem;
    background-color: #E3170A;
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-size: 16px;
    width: fit-content;
    margin: 0 0 40px 10px;
    font-weight: bold;
    font-size: 18px;
}

.allChallenges {
    display: flex;
    flex-direction: column;
}

.allChallenges img {
    width: 100%;
}

.allChallengesText {
    display: flex;
    align-self: center;
    margin: 20px 10px 20px 10px;
}

.allChallengesTextSmall {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0 10px 40px 10px;
}

.allChallengesButton {
    padding: 1rem 2rem;
    background-color: #E3170A;
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-size: 16px;
    width: fit-content;
    margin: 0 0 40px 10px;
    font-weight: bold;
    font-size: 18px;
}

footer {
    background-color: black;
    color: white;
    padding: 40px 0 40px;
}

.footerName {
    margin: 10px 10px 10px 15px;
}

.footerTextSmall {
    margin: 10px 15px;
    font-size: 14px;
}

.siteMap {
    display: flex;
    flex-direction: column;
}

.siteMapText {
    margin: 10px 15px 10px;
}

.siteMap ul {
    display: flex;
    flex-direction: column;
    margin: 0 -25px;
    font-size: 14px;
}

.siteMap ul li {
    list-style-type: none;
}

.spacer {
    margin: 10px;
}

.followUs {
    display: flex;
    flex-direction: column;
}

.followUsText {
    margin: 20px 15px 10px;
}

.followUs ul {
    display: flex;
    flex-direction: column;
    margin: 0 -25px;
    font-size: 14px;
}